@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-color: var(--medium-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-height: 800px) {
    body {
        height: 100vh;
    }
}

.header .logo {
    margin: 40px 75px 60px;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-left: 75px;
}

.container .mockups {
    width: 100%;
    height: 100%;
}

.info {
    margin: 43px 70px 43px 53px;
}

.info .title {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
}

.info .text {
    font-family: 'Open Sans';
    font-size: 18px;
    margin: 21px 0 38px;
    line-height: 27px;
    color: #fff;
}

.info .btn-register {
    font-size: 18px;
    padding: 15px 63px;
    background-color: #fff;
    border-radius: 28px;
    color: var(--medium-primary);
    box-shadow: 3px 3px 15px #392370;
    transition: 0.5s ease-in-out;
}

.info .btn-register:hover {
    background-color: var(--soft-primary);
    color: #fff;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer .social {
    margin: 20px 80px 30px;
    font-size: 18px;
    
}

.footer .social a i {
    color: #fff;
    border: #fff solid 1px;
    border-radius: 50px;
    padding: 10px;
    width: 40px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.footer .social a:nth-child(2) {
    margin: 0 11px;
}

.footer .social a i:hover{
    color: var(--soft-primary);
    border: var(--soft-primary) solid 1px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #ffffff8f; transition: 0.5s ease-in-out; }
.attribution a:hover { color: var(--soft-primary); }